{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/chests/chestheader.png",
      //"fileBody" : "/interface/chests/.png",
      "fileBody" : "/Objects/Terminal/terminalbody.png",
      "fileFooter" : "/interface/chests/chestfooter.png"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [0, 0],
      "dimensions" : [0, 0],
      "spacing" : [0, 0],
      "backingImage" : "/interface/inventory/empty.png"
    },
	"btn1" : {
	  "callback" : "get1",
	  "type" : "button",
	  "base" : "/Objects/Terminal/button.png",
	  "hover" : "/Objects/Terminal/buttonhover.png",
	  "position" : [2, 25],
	  "caption" : "1"
	},
	"btn10" : {
	  "callback" : "get10",
	  "type" : "button",
	  "base" : "/Objects/Terminal/button.png",
	  "hover" : "/Objects/Terminal/buttonhover.png",
	  "position" : [41, 25],
	  "caption" : "10"
	},
	"btn100" : {
	  "callback" : "get100",
	  "type" : "button",
	  "base" : "/Objects/Terminal/button.png",
	  "hover" : "/Objects/Terminal/buttonhover.png",
	  "position" : [80, 25],
	  "caption" : "100"
	},
	"btn1000" : {
	  "callback" : "get1000",
	  "type" : "button",
	  "base" : "/Objects/Terminal/button.png",
	  "hover" : "/Objects/Terminal/buttonhover.png",
	  "position" : [119, 25],
	  "caption" : "1000"
	},
	"scrollArea" : {
	  "type" : "scrollArea",
	  "rect" : [5, 44, 156, 409],
	  "children" : {
		"itemList" : {
		  "type" : "list",
		  "schema" : {
			"selectedBG" : "/interface/merchant/itemselected.png",
			"unselectedBG" : "/interface/merchant/itembackground.png",
			"spacing" : [0, 1],
			"memberSize" : [156, 20],
			"listTemplate" : {
			  "background" : {
				"type" : "image",
				"file" : "/interface/merchant/itembackground.png",
				"position" : [0, 0],
				"zlevel" : -1
			  },
			  "itemName" : {
				"type" : "label",
				"position" : [22, 18],
				"hAnchor" : "left",
				"vAnchor" : "top",
				"wrapWidth" : 116,
				"lineSpacing" : 1.05,
				"value" : "Replace Me"
			  },
			  "itemIcon" : {
				"type" : "itemslot",
				"position" : [1, 1],
				"callback" : "null"
			  },
			  "moneyIcon" : {
				"type" : "image",
				"position" : [108, 1],
				"file" : "/interface/money.png"
			  },
			  "priceLabel" : {
				"type" : "label",
				"position" : [153, 0],
				"hAnchor" : "right",
				"value" : "0"
			  },
			  "unavailableoverlay" : {
				"type" : "image",
				"file" : "/interface/merchant/unavailableoverlay.png",
				"position" : [0, 0],
				"zlevel" : 1
			  }
			}
		  }
		}
	  }
	},
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "position" : [143, 432]
    }
  },
  "scriptWidgetCallbacks" : [
    "get1",
    "get10",
    "get100",
    "get1000"
  ],
  "scripts" : ["/Objects/Terminal/digitalstorage_terminalGUI.lua"],
  "scriptDelta" : 0
}
